.full-bg.full-bg--login
  .panel
    %h2 Log in
    .form--panel
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.error_notification
        .form-group
          = f.input :email, required: false, autofocus: true, label: false, placeholder: "Email", input_html: { class: 'input-text' }
        .form-group
          = f.input :password, required: false, label: false, placeholder: "Password", input_html: { class: 'input-text' }
        .form-group
          = f.input :remember_me, label_html: { class: 'input-checkbox-label' }, as: :boolean if devise_mapping.rememberable?
        = f.button :submit, "Log in", class: 'form--panel__submit'