.post
  .post__caption
    = post.caption
  .post__time
    = time_ago_in_words(post.created_at)
    ago
  .post__image
    = link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
  .post__user
    %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
    = link_to post.user.user_name, profile_path(post.user.user_name)
  
  .post__likers
    = render 'posts/likes', post: post  

  - if post.comments.any?
    .post__comments{id: "comments_#{post.id}"}
      = render post.comments.last(4), post: post
    .paginator--comments{id: "comments_paginator_#{post.id}"}
      - unless post.comments.count <= 4
        = link_to "View all #{post.comments.count} comments", post_comments_path(post), remote: true, class: 'more-comments', data: {post_id: "#{post.id}", type: "html"}

  .row.post__bottom
    .col-xs-1
      .post__like
        = link_to '', like_post_path(post.id), remote: true, id: "like_#{post.id}", class: "glyphicon #{liked_post post}"

    .col-xs-11
      .form--comment
        = form_for([post, post.comments.build], remote: true) do |f|
          = f.text_field :content, placeholder: 'Add a comment...', id: "comment_content_#{post.id}", class: 'input-text'